/* Full page center */
body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
  font-family: Arial, sans-serif;
}

/* Card Box */
main {
  width: 350px;
  padding: 20px;
  background: #222;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(255,255,255,0.2);
  text-align: left;
  color: white;
  transition: 0.3s;
}

/* H2 text */
h2 {
  font-size: 18px;
  line-height: 1.6;
  font-weight: 400;
  margin-bottom: 20px;
}

/* Button */
#btn {
  width: 100%;
  padding: 12px;
  background: #ffcc00;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

#btn:hover {
  background: #4900e6;
}
